body {
	background-color: rgb(88, 88, 88);
	color: rgb(58, 58, 58);
	font-family: sans-serif;
}


main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1.5em;
}

#entry-frame {
	text-align: center;
}

#food {
  font-size: 1.5em;
  width: 11em;
	border-radius: 10px;
	text-align: center;
	border-width: 0px;
	margin: 2px;
}

#calories {
  font-size: 1.5em;
  width: 3em;
	border-radius: 10px;
	text-align: center;
	border-width: 0px;
	margin: 2px;
}

#buttons-frame {
	text-align: center;
}

.form-buttons {
  font-size: 1.5em;
  width: 3em;
	height: 2em;
  margin-top: .5em;
	margin-left: .3em;
	margin-right: .3em;
	border-radius: 10px;
	border-width: 0px;
}

#save {
	background-color: rgba(83, 252, 83, 0.719);
}
#del {
	background-color: rgba(252, 83, 83, 0.719);
}
#clear {
	background-color: rgba(249, 252, 83, 0.719);
}
#get {
	background-color: rgba(86, 83, 252, 0.719);
}


#table-frame {
	background-color: lightgray;
	height: 65dvh;
	width: 90dvw;
  max-width: 563px;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
  font-size: 1.5em;
	border-radius: 10px;
}

#food-heading {
  width: 20em;
}

#calories-heading {
  width: 3em;
}



tbody tr:nth-child(even) {
	background-color: rgb(208, 222, 250);
}

tbody tr:nth-child(odd) {
	background-color: rgb(173, 203, 248);
}