body {
	font-family: Arial, Helvetica, sans-serif;
	margin: unset;
}

.menu {
	background-color: rgb(51, 51, 51);
}

ul {
	margin: unset;
	list-style: none;
	display: flex;
}

li {
	padding: 1.3em;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}

.menu .toggle{
	display: flex;
}

#menu-btn {
	display: none;
	background-color: rgb(51, 51, 51);
	position: absolute;
	top: 0;
	right: 0;
	width: 6em;
	height: 5.7em;
}

#hamburger-img {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 5em;
	padding: 3px;
}

h1 {
	display: none;
}

.selected {
	color: rgb(65, 251, 51)
}



/* Mobile screen */
@media screen and (max-width: 650px) {
	.menu .toggle {
		display: none;
	}

	#menu-btn {
		display: block;
		background-color: rgb(51, 51, 51);
		position: absolute;
		top: 0;
		right: 0;
		width: 5em;
		height: 5em;
	}
	
	#hamburger-img {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 3.5em;
		padding: 8px;
	}

	.menu .open {
		display: block;
	}

	.menu {
		display: block;
	}

	h1 {
		text-align: center;
		display: block;
		background-color: rgb(51, 51, 51);
		color: white;
		margin: unset;
		font-size: 1.5em;
		padding: .9em;
	}
}

